*{
    margin: 0px;
    padding: 0px;
}

#clock{
    z-index: 1;
    width: 100%;
    position: relative;
    font-size: 5vw;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 45px;
}

/*                   BARRA DE NAVEGAÇÃO                */

.roler{
    position: relative;
    float: left;
    height: 100vh;
    width: 40vh;
    background-color: #292929;
    padding-top: 25vh;
}


ul {
    display: block;
    list-style-type: none;
    overflow: hidden;
    background-color: #533E85;
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  
  li {
    float: left;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    align-items: center;
  }
  
  li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  

/* ---------------------------------CONTAINER 1---------------------------------------- */

.container-1{
    display: block;
    background-color: #222831;
    height: 100vh;
    max-width: 900rem;
    text-align: center;
    overflow-x: auto;

}

section .text {
    text-align: center;
    padding-top: 5rem;
    font-family: 'Poppins', sans-serif; 
    position: relative;
    color: whitesmoke;
    user-select: none; 
}

section .text span {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

section .text span.active
{
    animation: smoke 2s linear forwards;
    transform-origin: bottom;
}
@keyframes smoke{
    0%
    {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    }
    50%
    {
        opacity: 1;
        pointer-events: none;
    }
    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}


#joaovitormanoel2 {
    text-align: center;
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: whitesmoke; 
    
}

.thisweb{
    margin-top: 100px;
    margin-left: 35px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    justify-content: left;
    text-align: left;
}

.thisweb-1{
    margin-bottom: 20px;
}

.thisweb-2{
    margin-left: 5px;
    margin-bottom: 80px;
}


.contatos{
    width: 30px;
    height: auto;
    padding-right: 1px;
    padding-top: 5px;
}

.contatos:hover{
    cursor: pointer;
}

.social a{
    display: block;
    display: inline-block;
    width: 50px;
    height: 50px;
}
/*---------------------------------------------------SOBRE MIM-------------------------------------------------------*/



.container-2{
    
    /*--BOX--*/ 
    background-color: #393E46;
    max-height: 900rem;
    min-width: 320px;
    max-width: 640rem;
    border-top: solid;

    /*--POSIÇÃO--*/

    position: relative;
    
 
    /*--DISPLAY--*/
    
    font-family: 'Poppins', sans-serif;
    display: flex;                
    justify-content: center;
    flex-flow: wrap;                               
}

@media screen and (max-width:800px) {
    .container-2{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .container-2{
        width: 100%;
    }
    
}

.sobremim-miniatura{
    width: 6.25rem;
    height: 6.25rem;
    float: left;
    position: relative;
    right: 20px;
}

.whoami{
    background-color: whitesmoke;
    max-width: 100%;
    max-height: 100%;
    display: flexbox;
    border: solid;
    border-radius: 5rem;
    padding: 30px;
    margin: 5px 5px 5px 0;
}

/*------RODAPÉ------*/

#rodape{
    background-color: black;
    font-style: italic;
    
    width: 100%;
    height: 30px;
    align-items: baseline;
    justify-content: center;
    display: flex;
}

#Reserveds{
    color: azure;
}

.strain {
    width: 155px;
    height: 1px;
    background-color: #dbdbdb;
    position: relative;
    margin: 0px auto;
    margin-top: 28px;
    margin-bottom: 28px;
    -webkit-animation-name: rotate-strain;
            animation-name: rotate-strain;
    -webkit-animation-duration: 1.7s;
            animation-duration: 1.7s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  .strain:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #13b6e2;
    left: 0;
    margin-top: -9px;
    margin-left: -9px;
    -webkit-animation-name: strain-size-left;
            animation-name: strain-size-left;
    -webkit-animation-duration: 1.7s;
            animation-duration: 1.7s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  .strain:after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #13b6e2;
    right: 0;
    margin-top: -9px;
    margin-right: -9px;
    -webkit-animation-name: strain-size-right;
            animation-name: strain-size-right;
    -webkit-animation-duration: 1.7s;
            animation-duration: 1.7s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  .strain:nth-child(1), .strain:nth-child(1):before, .strain:nth-child(1):after {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  .strain:nth-child(2), .strain:nth-child(2):before, .strain:nth-child(2):after {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .strain:nth-child(3), .strain:nth-child(3):before, .strain:nth-child(3):after {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }
  .strain:nth-child(4), .strain:nth-child(4):before, .strain:nth-child(4):after {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .strain:nth-child(5), .strain:nth-child(5):before, .strain:nth-child(5):after {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
  .strain:nth-child(6), .strain:nth-child(6):before, .strain:nth-child(6):after {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .strain:nth-child(7), .strain:nth-child(7):before, .strain:nth-child(7):after {
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
  }
  .strain:nth-child(8), .strain:nth-child(8):before, .strain:nth-child(8):after {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .strain:nth-child(9), .strain:nth-child(9):before, .strain:nth-child(9):after {
    -webkit-animation-delay: 1.35s;
            animation-delay: 1.35s;
  }
  .strain:nth-child(10), .strain:nth-child(10):before, .strain:nth-child(10):after {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .strain:nth-child(11), .strain:nth-child(11):before, .strain:nth-child(11):after {
    -webkit-animation-delay: 1.65s;
            animation-delay: 1.65s;
  }
  .strain:nth-child(12), .strain:nth-child(12):before, .strain:nth-child(12):after {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  
  @-webkit-keyframes rotate-strain {
    0% {
      width: 155px;
    }
    25% {
      width: 0;
    }
    50% {
      width: 155px;
    }
    75% {
      width: 0;
    }
    100% {
      width: 155px;
    }
  }
  
  @keyframes rotate-strain {
    0% {
      width: 155px;
    }
    25% {
      width: 0;
    }
    50% {
      width: 155px;
    }
    75% {
      width: 0;
    }
    100% {
      width: 155px;
    }
  }
  @-webkit-keyframes strain-size-left {
    0% {
      transform: scale(1) translateX(0px);
    }
    25% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1) translateX(155px);
    }
    75% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1) translateX(0px);
    }
  }
  @keyframes strain-size-left {
    0% {
      transform: scale(1) translateX(0px);
    }
    25% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1) translateX(155px);
    }
    75% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1) translateX(0px);
    }
  }
  @-webkit-keyframes strain-size-right {
    0% {
      transform: scale(1) translateX(0px);
    }
    25% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1) translateX(-155px);
    }
    75% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1) translateX(0px);
    }
  }
  @keyframes strain-size-right {
    0% {
      transform: scale(1) translateX(0px);
    }
    25% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1) translateX(-155px);
    }
    75% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1) translateX(0px);
    }
}
